@font-face {
  font-family: face;
  src: url(../fontneo-latina-demo-FFP.ttf);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  color: #fff !important;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.16em;
  --top-offset: 18.51vh;
  --fall-duration: 6.875s;
  --fall-delay: 8.038s;
}
.star:nth-child(2) {
  --star-tail-length: 5.23em;
  --top-offset: 61vh;
  --fall-duration: 11.582s;
  --fall-delay: 3.283s;
}
.star:nth-child(3) {
  --star-tail-length: 6.48em;
  --top-offset: 51.16vh;
  --fall-duration: 11.374s;
  --fall-delay: 9.861s;
}
.star:nth-child(4) {
  --star-tail-length: 6.09em;
  --top-offset: 58.36vh;
  --fall-duration: 11.794s;
  --fall-delay: 0.741s;
}
.star:nth-child(5) {
  --star-tail-length: 6.93em;
  --top-offset: 96.76vh;
  --fall-duration: 11.847s;
  --fall-delay: 8.844s;
}
.star:nth-child(6) {
  --star-tail-length: 7.25em;
  --top-offset: 63.01vh;
  --fall-duration: 7.86s;
  --fall-delay: 8.997s;
}
.star:nth-child(7) {
  --star-tail-length: 6.64em;
  --top-offset: 6.35vh;
  --fall-duration: 7.799s;
  --fall-delay: 2.453s;
}
.star:nth-child(8) {
  --star-tail-length: 5.51em;
  --top-offset: 26.92vh;
  --fall-duration: 9.549s;
  --fall-delay: 2.223s;
}
.star:nth-child(9) {
  --star-tail-length: 6.83em;
  --top-offset: 76.01vh;
  --fall-duration: 11.305s;
  --fall-delay: 3.153s;
}
.star:nth-child(10) {
  --star-tail-length: 7.11em;
  --top-offset: 49.48vh;
  --fall-duration: 8.981s;
  --fall-delay: 2.026s;
}
.star:nth-child(11) {
  --star-tail-length: 6.37em;
  --top-offset: 60.15vh;
  --fall-duration: 7.189s;
  --fall-delay: 5.402s;
}
.star:nth-child(12) {
  --star-tail-length: 6.69em;
  --top-offset: 79.35vh;
  --fall-duration: 6.836s;
  --fall-delay: 4.94s;
}
.star:nth-child(13) {
  --star-tail-length: 5.48em;
  --top-offset: 41.7vh;
  --fall-duration: 9.615s;
  --fall-delay: 6.849s;
}
.star:nth-child(14) {
  --star-tail-length: 6.74em;
  --top-offset: 8.92vh;
  --fall-duration: 6.868s;
  --fall-delay: 0.748s;
}
.star:nth-child(15) {
  --star-tail-length: 5.78em;
  --top-offset: 98.21vh;
  --fall-duration: 11.49s;
  --fall-delay: 4.359s;
}
.star:nth-child(16) {
  --star-tail-length: 5.16em;
  --top-offset: 56.75vh;
  --fall-duration: 7.217s;
  --fall-delay: 5.328s;
}
.star:nth-child(17) {
  --star-tail-length: 6.25em;
  --top-offset: 33.94vh;
  --fall-duration: 8.433s;
  --fall-delay: 8.409s;
}
.star:nth-child(18) {
  --star-tail-length: 7.16em;
  --top-offset: 51.4vh;
  --fall-duration: 8.569s;
  --fall-delay: 4.863s;
}
.star:nth-child(19) {
  --star-tail-length: 5.81em;
  --top-offset: 97.42vh;
  --fall-duration: 10.293s;
  --fall-delay: 4.574s;
}
.star:nth-child(20) {
  --star-tail-length: 6.8em;
  --top-offset: 50.08vh;
  --fall-duration: 8.377s;
  --fall-delay: 1.806s;
}
.star:nth-child(21) {
  --star-tail-length: 7.07em;
  --top-offset: 93.72vh;
  --fall-duration: 10.349s;
  --fall-delay: 4.915s;
}
.star:nth-child(22) {
  --star-tail-length: 5.93em;
  --top-offset: 9.95vh;
  --fall-duration: 10.51s;
  --fall-delay: 6.484s;
}
.star:nth-child(23) {
  --star-tail-length: 5.65em;
  --top-offset: 85.39vh;
  --fall-duration: 6.657s;
  --fall-delay: 1.766s;
}
.star:nth-child(24) {
  --star-tail-length: 7.43em;
  --top-offset: 32.38vh;
  --fall-duration: 7.298s;
  --fall-delay: 8.817s;
}
.star:nth-child(25) {
  --star-tail-length: 5.54em;
  --top-offset: 67.15vh;
  --fall-duration: 7.924s;
  --fall-delay: 5.41s;
}
.star:nth-child(26) {
  --star-tail-length: 6.96em;
  --top-offset: 38.62vh;
  --fall-duration: 6.948s;
  --fall-delay: 2.381s;
}
.star:nth-child(27) {
  --star-tail-length: 5.07em;
  --top-offset: 5.84vh;
  --fall-duration: 10.232s;
  --fall-delay: 2.189s;
}
.star:nth-child(28) {
  --star-tail-length: 5.38em;
  --top-offset: 59.25vh;
  --fall-duration: 11.431s;
  --fall-delay: 5.942s;
}
.star:nth-child(29) {
  --star-tail-length: 5.77em;
  --top-offset: 83.34vh;
  --fall-duration: 7.827s;
  --fall-delay: 4.319s;
}
.star:nth-child(30) {
  --star-tail-length: 7.03em;
  --top-offset: 74.68vh;
  --fall-duration: 10.931s;
  --fall-delay: 0.497s;
}
.star:nth-child(31) {
  --star-tail-length: 5.26em;
  --top-offset: 2.43vh;
  --fall-duration: 6.977s;
  --fall-delay: 5.951s;
}
.star:nth-child(32) {
  --star-tail-length: 5.54em;
  --top-offset: 70.87vh;
  --fall-duration: 7.38s;
  --fall-delay: 6.012s;
}
.star:nth-child(33) {
  --star-tail-length: 6.54em;
  --top-offset: 51.19vh;
  --fall-duration: 9.415s;
  --fall-delay: 1.662s;
}
.star:nth-child(34) {
  --star-tail-length: 5.21em;
  --top-offset: 36.08vh;
  --fall-duration: 6.037s;
  --fall-delay: 5.397s;
}
.star:nth-child(35) {
  --star-tail-length: 5.48em;
  --top-offset: 89.8vh;
  --fall-duration: 6.453s;
  --fall-delay: 8.428s;
}
.star:nth-child(36) {
  --star-tail-length: 5.85em;
  --top-offset: 89.88vh;
  --fall-duration: 11.401s;
  --fall-delay: 3.6s;
}
.star:nth-child(37) {
  --star-tail-length: 6.14em;
  --top-offset: 29.46vh;
  --fall-duration: 10.563s;
  --fall-delay: 4.041s;
}
.star:nth-child(38) {
  --star-tail-length: 7.29em;
  --top-offset: 87.92vh;
  --fall-duration: 7.754s;
  --fall-delay: 8.902s;
}
.star:nth-child(39) {
  --star-tail-length: 6.82em;
  --top-offset: 71.1vh;
  --fall-duration: 7.199s;
  --fall-delay: 6.747s;
}
.star:nth-child(40) {
  --star-tail-length: 6.47em;
  --top-offset: 34.79vh;
  --fall-duration: 9.206s;
  --fall-delay: 7.41s;
}
.star:nth-child(41) {
  --star-tail-length: 6.01em;
  --top-offset: 63.28vh;
  --fall-duration: 8.961s;
  --fall-delay: 1.148s;
}
.star:nth-child(42) {
  --star-tail-length: 6.68em;
  --top-offset: 29.29vh;
  --fall-duration: 6.037s;
  --fall-delay: 8.159s;
}
.star:nth-child(43) {
  --star-tail-length: 6.78em;
  --top-offset: 29.77vh;
  --fall-duration: 6.514s;
  --fall-delay: 6.771s;
}
.star:nth-child(44) {
  --star-tail-length: 5.85em;
  --top-offset: 20.81vh;
  --fall-duration: 6.984s;
  --fall-delay: 8.334s;
}
.star:nth-child(45) {
  --star-tail-length: 5.15em;
  --top-offset: 88.32vh;
  --fall-duration: 11.613s;
  --fall-delay: 5.993s;
}
.star:nth-child(46) {
  --star-tail-length: 5.11em;
  --top-offset: 25.37vh;
  --fall-duration: 7.004s;
  --fall-delay: 8.448s;
}
.star:nth-child(47) {
  --star-tail-length: 6.97em;
  --top-offset: 1.98vh;
  --fall-duration: 8.306s;
  --fall-delay: 5.283s;
}
.star:nth-child(48) {
  --star-tail-length: 6.28em;
  --top-offset: 76.54vh;
  --fall-duration: 6.763s;
  --fall-delay: 7.386s;
}
.star:nth-child(49) {
  --star-tail-length: 5.84em;
  --top-offset: 63.29vh;
  --fall-duration: 9.949s;
  --fall-delay: 3.449s;
}
.star:nth-child(50) {
  --star-tail-length: 5.14em;
  --top-offset: 69.99vh;
  --fall-duration: 11.795s;
  --fall-delay: 7.612s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
h1 {
  background: linear-gradient(120deg, #ffcfd2 0%, #8eecf5 100%);
  background-clip: border-box;
  font-family: "Permanent Marker", cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  text-align: center;
}

header {
  max-width: 1430px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". ." ". .";
}
header button {
  padding: 120px;
  margin: 30px;
}

.reglage {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 96%;
  margin-top: 40px;
}
.reglage img {
  filter: brightness(0) invert(1);
  margin-bottom: 30px;
  display: block;
}

.reset {
  filter: brightness(0) invert(1);
  position: absolute;
}

#btn {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  color: red;
  background-color: red;
  border: none;
}

#timer {
  position: relative;
  float: right;
  font-size: 35px;
}

/*# sourceMappingURL=style.css.map */
